<h1>List of Movies (<%= @movies.count %>)</h1>

<p><a href="http://localhost:3000/movies/new">Add A New Movie</a></p>

<ul>
  <% @movies.each do |movie| %>
  <li>
    <p><%= movie.title %> (<%= movie.year %>)</p>
    <div>
      <a href="http://localhost:3000/movies/<%= movie.id %>">Show</a>
      <a href="http://localhost:3000/movies/<%= movie.id %>/edit">Edit</a>
      <%= link_to "Delete", "http://localhost:3000/movies/#{movie.id}", :method => "delete" %>
    </div>
  </li>
  <% end %>
</ul>
