<h1>
  <%= @movie.title %>
  <small><%= @movie.year %></small>
</h1>

<dl>
  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>

  <!-- Show the director's name here instead of an ID -->
  <dt>Director</dt>
  <dd><%= @movie.director.name %></dd>

  <dt>Image URL</dt>
  <dd>
    <img src="<%= @movie.image_url %>">
  </dd>
</dl>

<a href="http://localhost:3000/delete_movie/<%= @movie.id %>">Delete this film</a>
